@charset "UTF-8";

.conteiner {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa01{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end:5;
    background-color: red;
}

.caixa02{
    grid-row-start:2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: aqua;
}

.caixa03{
    grid-row-start:2;
    grid-row-end: 4;
    grid-column-start: -3;
    grid-column-end: -1;
    background-color: rgb(94, 255, 0);
}