@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(44, 44, 44);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.384);
    width: 400px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}