@charset "UTF-8";

.conteiner {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa01{
    grid-area: 1/1/2/5;
    background-color: red;
}

.caixa02{
    grid-area: 2/1/4/3;
    
background-color: aqua;
}

.caixa03{
    grid-area: 2/3/4/5;
    background-color: rgb(94, 255, 0);
}