@charset "UTF-8";

/*360-414px (phones), 768px (tablets), 992px (laptops/small desktops), and 1200px+ (large desktops)*/

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        width: 90vw;
        border: 2px solid black;
        padding-bottom: 100px;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    main::after{
        content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
        text-align: bottom;
    }

        img#phone{display: none;}
        img#tablet{display: none;}
        img#print{display: block;}
        img#pc{display: none;}
        img#tv{display: none;}
}

@media  screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
}
        img#phone{display: none;}
        img#tablet{display: block;}
        img#print{display: none;}
        img#pc{display: none;}
        img#tv{display: none;}
}

@media  screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

        img#phone{display: none;}
        img#tablet{display: none;}
        img#print{display: none;}
        img#pc{display: block;}
        img#tv{display: none;}
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    
    main {
        width: 700px;
    }

        img#phone{display: none;}
        img#tablet{display: none;}
        img#print{display: none;}
        img#pc{display: none;}
        img#tv{display: block;}
}